.container {
    margin-bottom: 25px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item__contact {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.link {
    color: var(--color-primary-dark);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;

    &:hover {
        text-decoration: underline;
        color: var(--color-secondary);
    }
}